@import "../../../styles/global_scss.scss";

.trending_area {
  margin-top: 64px;
  
  .charts_area {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;

    @include breakpoint(mobile) {
      grid-template-columns: 1fr 1fr;
      gap: 16px;
    }
  }
}