@import "../styles/global_scss.scss";

.home_page {
  position: relative;
  
  .page_area {
    margin-left: 80px;
    padding-top: 32px;
    padding-bottom: 32px;

    @media(max-width: 599px) {
      margin-left: 0px;
    }

    .progress_indicator_container {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;          
    }
    
    .app_bar {
      display: none;

      @include breakpoint(tablet) {
        display: initial;
      }

      .search_button {
        float: right;
      }      
    }

    .header_area {
      display: flex;
      align-items: center;

      @include breakpoint(tablet) {
        margin-top: 32px; 
      }

      .price_change_indicator {
        margin-left: 8px;
      }
    }

    .coin_chart_card {
      margin-top: 32px;
    }

    .trending_coins_area {
      margin-top: 64px;
      
      .charts_area {
        margin-top: 32px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 32px;
      }
    }
  }
}